<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ESDB.mdf;Initial Catalog=ESDB;Integrated Security=True"
      providerName="System.Data.SqlClient"/>
    <add name="MVC_Test" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=D:\WORK\EmailSender\Project\EmailSender\EmailSender\App_Data\MVC_Test.mdf;Initial Catalog=MVC_Test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>